body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
    margin: 0px;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: 'Playpen Sans', sans-serif;
    color: white;
}

body > header {
    background-color: rgb(15, 204, 15);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    margin: 0px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#main-content > aside {
    width: 30%;
}

#article-ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#article-ul > li {
    padding: 8px;
    margin: 16px;
}

.articlenav {
    color: green;
    text-decoration: none;
    padding: 12px;
    border: 1px solid rgb(15, 204, 15);
    border-radius: 10%;
}

#review {
    text-align: center;
}

h2 {
    text-align: center;
}

#more-recipes {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container .overlay-text {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 10%;
    left: 10%;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 50px 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

body > footer {
    background-color: rgb(15, 204, 15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    color: white;
}

#newsletter {
    text-align: center;
}

#footer-ul {
    display: flex;
    list-style: none;
    font-size: 15px;
}

#footer-ul > div > li {
    margin-left: 12px;
    padding: 10px;
    margin: 10px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

#main-image {
    height: auto;
    width: 50vw;
}

img {
    height: 50vh;
    width: auto;
}